<!doctype html>
<html dir="rtl">

<head>
  <%- include('inc/heade')%>
  <title>NinjaGamer | نینجاگیمر</title>
</head>

<body>
  <%- include('inc/nav')%>
  <%- include('inc/header')%>
  <main class="text-center my-2">
    <h2 class="text-3xl">ErrorCode : <span class="font-semibold text-amber-600"><%= status %></span></h2>
    <h3 class="text-xl"><%= msg %></h3>
    <p>در صورت نیاز به راهنمایی میتوانید با پشتیبانی وب سایت تماس بگیرید</p>
  </main>
  <footer></footer>
</body>

</html>