<!doctype html>
<html dir="rtl">

<head>
  <%- include('inc/heade')%>
  <script src="https://widget.arcaptcha.ir/1/api.js" async defer></script>
  <title>NinjaGamer | بازیابی رمز عبور</title>
</head>

<body>
  <%- include('inc/nav')%>
  <%- include('inc/header')%>
  <div class="flex flex-col items-center justify-center my-5 bg-zinc-800 mx-4 md:container md:mx-auto md:w-full rounded-xl">
    <header class="mt-3">
      <h3 class="text-4xl text-center">فراموشی رمز عبور</h3>
    </header>
    <div class="mx-4 mt-3">
      <%- include('inc/messages' , {messageListObj : messageListObj}) %>
    </div>
    <div class="my-3">
      <p class="px-3 text-center">شماره همراه خود را در فرم زیر وارد کنید و در صورت درست بودن شماره همراه، رمز عبور جدید برای شما پیامک میشود و سپس بعد از ورود به حساب کاربری خود با رمز عبور جدید، نسبت به تغییر رمز عبور خود از طریق پروفایل اقدام فرمایید.</p>
    </div>
    <form method="POST" class="mb-4">
      <label for="number">شماره همراه:</label>
      <input dir="ltr" class="mx-1 md:mx-3 font-bold bg-stone-600 h-8 rounded-lg px-3 py-1" type="number" name="number" id="number">
      <button class="border-2 border-amber-500 px-3 py-1 rounded-lg transition hover:bg-amber-600 hover:text-black" type="submit">تغییر رمز عبور</button>
      <div class="flex flex-col items-center justify-center">
        <div class="arcaptcha" data-theme="dark" data-site-key="<%= ARC_SITE_KEY %>"></div>
      </div>
    </form>
    </div>
  </div>
</body>
</html>